@import '../../style/variables.scss';
.cart {
  min-width: 200px;
  color: #000;
  overflow: hidden;
  background-color: $white-color;

  .title {
    padding: 10px;
    font-weight: 300;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.26);
  }

  .item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: rgba(0, 0, 0, 0.26);
    }
    .item__img {
      width: 42px;
      margin-right: 10px;
    }
    .description {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        width: 170px;
        font-weight: 500;
        font-size: 1.4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .component {
        display: flex;
        align-items: center;
        .price {
          color: #db2828;
          font-weight: 500;
          font-size: 1.4rem;
          margin-right: 10px;
        }
        .quantity {
          color: #db2828;
          font-weight: 500;
          font-size: 1.8rem;
          margin-left: 5px;
        }
        .delete {
          font-size: 2rem;
          margin-left: 20px;
          color: #000;
          cursor: pointer;
          background-color: transparent;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  .btn {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Product__number {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .btn__more {
      padding: 10px;
      font-size: 1.4rem;
      border-radius: 5px;
      cursor: pointer;
      color: $white-color;
      background-color: $background-color;
    }
  }
  .no-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #d2001a;

    .heading {
      margin: 10px;
      font-weight: 400;
      font-size: 1.6rem;
    }
    .img {
      position: relative;
      width: 60px;
      animation: animateDelivery 3s linear infinite;
    }
  }
}

.cart__icon {
  font-size: 2.3rem;
  margin-right: 20px;
  color: $white-color;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  .total {
    position: absolute;
    top: -6px;
    right: -12px;
    padding: 1px 6px;
    border-radius: 40%;
    font-size: 1rem;
    color: $primary-color;
    background-color: $white-color;
    border: 1px solid $primary-color;
  }
}

@keyframes animateDelivery {
  from {
    left: -64%;
  }
  to {
    left: 64%;
  }
}
