.wrapper {
  min-width: 80px;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: 1px solid transparent;
  background-color: transparent;

  .title {
    font-size: 1.8rem;
    // color: var(--white-color);
  }
  .icon {
    padding: 6px 8px;
    line-height: 0;
    margin-left: 5px;
    font-size: 1.4rem;
    border-radius: 50%;
    color: #000;
    background-color: var(--white-color);
  }
}

// trạng thái
.shadow {
  box-shadow: 0px 3px 5px #aaaaaa;
}
.small {
  font-size: 0.75rem;
}
.large {
  font-size: 1.45rem;
}
.outline {
  color: #fd841f;
  background-color: white;
  border: 1px solid #fd841f;
  &:active {
    background-color: rgb(253, 132, 31, 0.3);
  }
}
.no-outline {
  border: none;
}
.danger {
  color: var(--primary-color);
  background-color: rgba(219, 40, 40, 0.3);
  margin: 0 10px;
  &:active {
    background-color: rgba(219, 40, 40, 0.1);
  }
}
.info {
  color: #000;
  background-color: blue;
  margin-right: 20px;
}
.success {
  padding: 6px 6px;
  border-radius: 5px;
  background-color: green;

  color: whitesmoke;
}
.text {
  font-weight: 700;
  position: relative;
  color: var(--white-color);

  &::before {
    top: 0;
    left: 0px;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    transform-origin: bottom;
    transform: scaley(0);
    transition: all 0.2s;
  }

  &:hover::before {
    transform: scaleY(1);
  }
}
.round {
  border-radius: 4px;
  border: 1px solid lightgrey;
}

@keyframes transX {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
