@import '../../../../style/variables.scss';

.wrapper {
  background-color: $white-color;
  position: relative;
  overflow: hidden;
  margin-top: $height-header;
  .detail {
    padding-left: 20px;
    display: flex;

    @include breakpoint(tm) {
      flex-direction: column;
      padding: 0;
    }
    .img {
      position: relative;
      width: 450px;
      height: 475px;
      object-fit: cover;
      margin-right: 13px;

      @include breakpoint(tm) {
        width: 100%;
        height: 400px;
      }
    }
    .icon-back {
      position: absolute;
      top: 4px;
      left: 24px;
      padding: 3px 6px;
      border-radius: 50%;
      font-size: 3rem;
      cursor: pointer;
      color: $black-color;
      border: 1px solid $black-color;
      @include breakpoint(tm) {
        left: 4px;
      }
    }
    .element {
      flex: 1;
      width: 100%;
      margin-left: 13px;
      .name {
        font-size: 3rem;
        font-weight: 500;
        @include breakpoint(tm) {
          margin-top: 8px;
        }
      }

      .flex {
        display: flex;
        margin: 18px 0;
        .star,
        .sell {
          font-size: 1.8rem;
          color: $primary-color;
        }
        .evaluate {
          font-size: 1.8rem;
          border-left: solid 1px $light-color;
          border-right: solid 1px $light-color;
          margin: 0 10px;
          padding: 0 10px;
        }
      }

      .price {
        font-size: 4rem;
        font-weight: 500;
        color: $primary-color;
      }

      .shop-discount {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;
        .title {
          font-size: 1.7rem;
          font-weight: 400;
          color: $light-color;
          margin-right: 30px;
        }
        .promissory-note {
          padding: 3px;
          color: $primary-color;
          background-color: $background-color;
        }
      }

      .delivery {
        display: flex;
        justify-content: flex-start;
        .heading {
          margin-right: 10px;
          color: $light-color;
        }

        .specifically {
          .transport {
            padding: 5px 0;
            display: flex;

            .fz14 {
              display: flex;
              .address {
                font-size: 1.6rem;
                @include breakpoint(tm) {
                  width: 130px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
              .icon-address {
                margin-left: 8px;
                font-size: 1.2rem;
                border: 1px solid $black-color;
                padding: 2px;
                border-radius: 3px;
                cursor: pointer;
              }
            }
          }
        }
      }

      .product {
        display: flex;
        align-items: center;
        .amount {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px 0;
          box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
          border-radius: 10px;
          .prev,
          .next {
            padding: 10px;
            margin: 10px;
            border-radius: 50%;
            box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
            &:hover {
              background-color: $background-color;
              cursor: pointer;
            }
          }
          .number {
            font-size: 2rem;
            padding: 10px;
          }
        }

        .available {
          font-size: 1.6rem;
          margin-left: 30px;
          font-weight: 500;
          color: $light-color;
        }
      }

      .buy {
        margin: 15px 0 0 -10px;
      }
    }
  }

  .footer {
    padding: 20px;
    margin: 20px 0;
    font-size: 2rem;
  }
}
