@import '../../style/variables.scss';

.wrapper {
  header {
    display: flex;
    justify-content: center;
    margin: $height-header 20px 0 20px;
    border-bottom: 3px solid #5e48e9;

    .head {
      font-size: 3rem;
      color: #5e48e9;
      font-weight: 800;
      margin: 0 auto;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    .image-profile {
      width: 140px;
      border-radius: 50%;
      border: 3px solid $black-color;
      margin: 0 30px;
    }
    .icon {
      font-size: 2.8rem;
      color: $light-color;
      cursor: pointer;
      &:hover {
        color: #5e48e9;
      }
    }
  }

  .gender {
    display: flex;
    justify-content: center;
    form {
      display: flex;
      justify-content: space-around;
      .check {
        margin: 20px;
        display: flex;
        align-items: center;

        input[type='radio'] {
          margin-right: 3px;
          cursor: pointer;
        }

        label {
          font-size: 1.4rem;
        }
      }
    }
  }

  .toggle {
    display: flex;

    justify-content: center;
    align-items: center;
    .button {
      margin: 10px;
      font-size: 1.2rem;
      padding: 8px;
      border: 1px solid $black-color;
      cursor: pointer;
    }

    .button-color {
      background-color: $background-color;
    }
  }

  .information {
    display: flex;
    justify-content: center;
    .inner {
      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(xs) {
          display: block;
        }
        .info {
          margin: 10px;
          flex: 1;
          .title {
            font-size: 1.3rem;
            color: $primary-color;
            margin-bottom: 3px;
          }
          .input {
            width: 100%;
            padding: 8px;
            border: 1px solid $light-color;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    button {
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
      border: none;
      color: $white-color;
      background-color: rgb(51, 100, 51);
      &:active {
        filter: brightness(0.8);
      }
    }
  }

  footer {
    text-align: justify;
    .footer {
      font-size: 2rem;
      font-weight: 500;
      margin: 20px 10px;
    }
  }
}
