@import '../../style/variables.scss';

// ShopFood
.shop {
  display: flex;
  margin: 0 45px;
  border-bottom: 1px solid $black-color;

  .product {
    flex: 1;
    margin-left: 20px;
    @include breakpoint(xm) {
      margin-left: 0;
    }
    .home {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-gap: 10px;
      .no-found {
        max-width: 100%;
      }
    }
  }
}
