// ShopFood
.shop {
  display: flex;
  margin: 0 45px;
  border-bottom: 1px solid var(--black-color);

  .product {
    flex: 1;
    margin-left: 20px;
    .home {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .no-found {
        max-width: 100%;
      }
    }
  }
}
