@import '../../style/variables.scss';

// ShopFood
.shop {
  display: flex;
  margin: 0 45px;
  border-bottom: 1px solid $black-color;

  .product {
    flex: 1;
    margin-left: 20px;
    @include breakpoint(xm) {
      margin-left: 0;
    }
    .main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 0.3fr));
      grid-gap: 10px;
      width: 100%;
      @include breakpoint(tm) {
        grid-template-columns: repeat(3, minmax(120px, 1fr));
      }
      @include breakpoint(xs) {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
      }
      // @include breakpoint(xs) {
      //   grid-template-columns: repeat(2, minmax(120px, 1fr));
      // }
    }
    .no-found {
      width: 100%;
      margin: 10px auto;
    }
  }
}
