@import '../../style/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;

  .title {
    font-size: 4rem;
    color: $primary-color;
    margin-top: 30px;
    @include breakpoint(xs) {
      font-size: 2.4rem;
    }
    @include breakpoint(tm) {
      font-size: 3rem;
    }
  }

  .heading {
    margin: 10px 0 26px;
    text-align: center;
    line-height: 1;
    font-size: 5rem;
    font-weight: 800;
    @include breakpoint(xs) {
      font-size: 2.8rem;
    }
    @include breakpoint(tm) {
      font-size: 3.2rem;
    }
  }
}
