@import '../../style/variables.scss';

.wrapper {
  margin: 26px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 3.6rem;
    color: $primary-color;
    margin: 30px 0 6px;
    @include breakpoint(xm) {
      font-size: 2.4rem;
    }
    @include breakpoint(md) {
      font-size: 3rem;
    }
  }

  .heading {
    text-align: center;
    line-height: 1;
    font-size: 4.6rem;
    font-weight: 700;
    @include breakpoint(xm) {
      font-size: 2.8rem;
    }
    @include breakpoint(md) {
      font-size: 3.2rem;
    }
  }
}
