// font
$font-family: sans-serif;

// color
$white-color: #fff;
$black-color: #000;
$light-color: #818181;
$primary-color: #db2828;
$blue-color: #0000ff;
$darkBue-color: #144e5c;
$lightBlue-color: #3c71ff;
$background-color: rgba(219, 40, 40, 0.3);

// size
$height-header: 60px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
// input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: $black-color;
  text-decoration: none;
}

@mixin breakpoint($point) {
  @if $point == xs {
    // Under 576px
    @media (max-width: 575px) {
      @content;
    }
  }
  @if $point == sm {
    // From 576px to 767px
    @media (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  }
  @if $point == xm {
    // Under 767px
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $point == md {
    // From 768px to 991px
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
  @if $point == lg {
    // From 992px to 1199px
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }
  @if $point == xl {
    // From 1200px
    @media (min-width: 1200px) {
      @content;
    }
  }

  @if $point == tm {
    // Under 991
    @media (max-width: 991px) {
      @content;
    }
  }
}
