@import '../../../style/variables.scss';

.footer {
  background-color: $lightBlue-color;
  .view {
    margin: 0 30px;
    padding: 40px;
    display: flex;
    .brand {
      flex: 1;
      padding-right: 20px;
      @include breakpoint(xm) {
        text-align: center;
      }
      .img {
        width: 64px;
        height: 64px;
      }
      .epilogue {
        margin: 10px;
        font-size: 1.4rem;
        color: $black-color;
      }
      .Social-Network {
        display: flex;
        @include breakpoint(xm) {
          justify-content: center;
        }
        .icon {
          padding: 5px;
          margin: 0 20px;
          font-size: 2.4rem;
          border-radius: 50%;
          box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px,
            rgb(0 0 0 / 22%) 0px 15px 12px;
          cursor: pointer;
          color: $primary-color;
          background-color: $white-color;
        }
      }
    }
    .customer {
      width: 800px;
      display: flex;
      justify-content: space-between;
      @include breakpoint(xm) {
        display: none;
      }
      .element {
        cursor: pointer;
        .title {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
        .item {
          padding: 8px;
          font-size: 1.2rem;
          list-style: none;
          color: $black-color;
        }
      }
    }
  }
  .end-page {
    margin: 0 30px;
    padding: 20px 40px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    .text {
      font-size: 1.6rem;
      color: $black-color;
    }
  }
}
