.search {
  display: flex;
  input {
    width: 100%;
    // margin-right: 8px;
    margin: 0 9px;
    padding: 10px;
    border: 1px solid var(--light-color);
    border-radius: 20px;
  }
  .category {
    display: flex;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 11px;
      input[type='radio'] {
        display: none;
      }
      input:checked + label {
        border: none;
        outline: 2px solid deeppink;
      }
      label {
        margin-left: 5px;
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
        background-color: rgba(219, 40, 40, 0.3);
      }
    }
  }
}
