.wrapper {
  margin: 20px 0;

  .list__user {
    margin-top: 30px;
    .user {
      margin: 10px 0;
      .user__flex {
        display: flex;
        align-items: flex-start;
        .user__avatar {
          width: 39px;
          border-radius: 50%;
          margin-right: 12px;
        }
        .user__comment {
          background-color: #f2f3f5;
          border-radius: 12px;
          color: #1c1e21;
          font-size: 10px;
          padding: 9px 12px;
          .name {
            font-size: 1.4rem;
            color: var(--black-color);
            font-weight: 550;
          }
          .comment {
            margin-top: 10px;
            font-size: 1.4rem;
            color: #292929;
          }
        }
      }
    }
  }
  .input {
    padding: 8px;
    font-size: 1.4rem;
    color: #292929;
    border-bottom: 1px solid #a8abae;
    margin-right: 10px;
  }
}
