@import '../../../style/variables.scss';

.sidebar {
  background-color: $white-color;
  @include breakpoint(xm) {
    display: none;
  }
  .close {
    display: flex;
    justify-content: flex-end;
    .icon {
      font-size: 2.8rem;
      cursor: pointer;
      color: #000;
      margin: 5px 5px 0 0;
    }
    .title {
      font-size: 2rem;
      font-weight: 500;
      display: flex;
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid $light-color;
    }
  }

  .input {
    margin: 0 10px;
    padding: 6px;
    border: 1.4px solid $black-color;
    border-radius: 50%;
  }
  .active {
    background-color: $blue-color;

    position: relative;
    &::after {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: 50%;
      border: 1px solid $lightBlue-color;
      animation: pulse 1s linear;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(3);
    opacity: 0;
  }
}
