@import './style/variables.scss';

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
// input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: $black-color;
  text-decoration: none;
}

.App {
  position: relative;

  .swiper-button-prev,
  .swiper-button-next {
    color: rgb(235, 108, 108) !important;
    padding: 5px;
    border-radius: 3px;
    background-color: $white-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &::after {
      font-size: 2rem;
      font-weight: 700;
    }

    &:hover {
      background-color: $black-color;
      color: $white-color !important;
    }
  }

  // style  navigation product
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 2rem;
    gap: 5px;
    @include breakpoint(xs) {
      width: 300px;
    }

    & .page-item {
      cursor: pointer;
      border-radius: 3px;
      font-weight: 400;
      user-select: none;
      padding: 4px;

      & .page-link {
        padding: 6px 12px;
        @include breakpoint(xs) {
          padding: 4px 5px;
          font-size: 1.5rem;
        }
      }
    }

    & .page-item:hover {
      background-color: #5ab1bb;
      a {
        color: $white-color;
      }
    }

    & .active {
      background-color: #5ab1bb;
    }
  }

  .page-item-active .page-item:nth-child(2) {
    background-color: #5ab1bb;
  }

  // custom Banner
  .swiper-pagination-bullet {
    padding: 10px;
    border: 2px solid $black-color;
    opacity: 1;
    background-color: $white-color;
  }
  .swiper-pagination-bullet-active {
    background-color: $primary-color;
  }
}

// styles sideBar
.ps-menu-label {
  display: inherit;
}
