.wrapper {
  .banner {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .content {
      margin: 0 0 60px 20px;
      text-align: left;
      .text {
        font-size: 5rem;
        margin: 0 0 20px 12px;
        color: var(--white-color);
      }
    }
  }
}
