@import '../../style/variables.scss';

.category {
  margin: 40px 10px;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: $white-color;
  text-align: center;

  .title {
    font-size: 1.8rem;
    margin: 10px 0;
    color: $primary-color;
  }
  .heading {
    font-size: 3.4rem;
    margin-bottom: 30px;
    color: $black-color;
  }

  .card {
    cursor: pointer;
    margin: 10px 10px;
    .background {
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        padding: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        .image__product {
          width: 80px;
          height: 80px;
          @include breakpoint(xs) {
            width: 60px;
            height: 60px;
          }
        }
      }

      .name {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        @include breakpoint(xs) {
          font-size: 1.3rem;
        }
      }

      &:hover .image__product {
        transform: rotate(30deg);
        transition: all 0.3s linear;
      }
      &:hover .name {
        color: $lightBlue-color;
        scale: 1.1;
        transition: all 0.3s linear;
      }
    }
  }
}
