@import '../../style/variables.scss';

.category {
  margin: 40px 20px;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  .title {
    font-size: 1.8rem;
    margin: 10px 0;
    color: $primary-color;
  }
  .heading {
    font-size: 3.4rem;
    margin-bottom: 30px;
    color: $black-color;
  }

  .card {
    cursor: pointer;
    margin: 10px 10px;
    .card-background {
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        padding: 20px;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);

        .img-product {
          width: 80px;
          height: 80px;
          @include breakpoint(xs) {
            width: 60px;
            height: 60px;
          }
        }
      }

      .name {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        @include breakpoint(xs) {
          font-size: 1.3rem;
        }
      }

      &:hover .image .img-product {
        transform: rotate(30deg);
        transition: all 0.3s linear;
      }
      &:hover .name {
        color: $lightBlue-color;
        scale: 1.1;
        transition: all 0.3s linear;
      }
    }
  }
}
